{{> /header}}

<form method="POST" id="form1" >
<div class="ui segment">
	<div class="ui segment">
		<i class="cubes icon huge" style="float: left" ></i>
		<h1 style="float:none; margin-top: 10px;">models\Organization</h1>
	<div style="float:inherit ">New object creation</div>
	</div>
	<div>Name</div>
	<div class="ui input">
	  <input name="name"type="text" placeholder="Name...">
	</div>
	<div>Domain</div>
	<div class="ui input">
	  <input name="domain" type="text" placeholder="Domain...">
	</div>
	<div>Aliases</div>
	<div class="ui input ">
	  <input name="aliases" type="text" placeholder="Aliases...">
	</div>
	
		
</div>

<div class="ui segment">
	<button type="submit" class="positive ui button">✅ Validate</button>
	<button class=" ui button"><a href="http://localhost:8081/orgas/index"style="color: Grey"/>⚪ Cancel</button>
</div>
</form>

{{> /footer}}