{{> /header}}


	<div class="ui segment">
		<i class="envelope icon huge" style="float: left" ></i>
		<h1 style="float:none; margin-top: 10px;">SpringBoot TD  n°2</h1>
		<div style="float:inherit ">Application de messagerie</div>
	</div>
<div class="ui segment">
	<a  href="/orgas/new"style="color: White">
	<button class="ui secondary button" style="margin-bottom: 10px">
	+ Ajouter une organisation...
	</button></a>
	
	<table class="ui celled table">
	  <thead>
	    <tr>
		<th>Id</th> 
		<th>name</th>
	    <th>domain</th>
	    <th>aliases</th>
	  </tr></thead>
	  
	<tbody>
	{{#orgas}}
		 <tr>		  
		  <td data-label="id">{{id}}</td>
	      <td data-label="name">{{name}}</td>
	      <td data-label="domain">{{domain}}</td>
	      <td data-label="aliases">{{aliases}}  
				<a href="/orgas/delete/{{id}}" style="color:red"><i class="circular close icon" style="float:right; margin-left:8px"></i></a>
				<a href="/orgas/edit/{{id}}" style="color:grey"><i class="circular edit icon" style="float:right; margin-left:8px"></i></a>
				<a href="/orgas/index" style="color:grey"><i class="circular eye icon" style="float:right; margin-left:8px"></i></a>
				
				

		  </td>
	    </tr>
	{{/orgas}}
	  </tbody>
	
</table>
	
	
	
</div>

{{> /footer}}