{{>/main/header}}
<div class="ui container">
    <form class="ui form" action="/login" method="post">
        <div class="field">
            <label>Login</label>
            <input type="text" name="login" placeholder="Login" required>
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" required>
        </div>
        <button class="ui positive button center" type="submit">Connect</button>
        <a href="/signup" class="ui button center" tabindex="0">Sign up</a>
    </form>
</div>
{{>/main/footer}}